{% extends "_base.html" %}

{% block title %}Home{% endblock %}
{% block page_name %}About Us{% endblock %}
{% block main %}
  <div class="container" style="max-width:40rem">
    <h2>About the Play2Learn Final Project</h2>
    <p>Students are given a partial Django template wired with a couple VueJS games.
       Students are tasked with using Django to register new users, log users in and out,
       allow users to track their game scores, and submit reviews. All Site visitors can
       play games without an account but their scores are not tracked. All site visitors
       can submit a contact form.</p>
    <p>The final project combines the Django & Postgres backend training with the
       frontend HTML, CSS, Bootstrap, & VueJS training completed earlier in the course.</p>
  </div>
{% endblock %}