{% extends "_base.html" %}

{% block title %}Home{% endblock %}
{% block main %}
  <h1>About</h1>
  <div class="container" style="width:400px;background-color:#dcb9f8">
    <h2>About the Play2Learn Final Project</h2>
    <p>Students are given a Django template wired with a couple VueJS games.
       Students are tasked with using Django register new users, log them in and out,
       and allow users to track their game scores.</p>
    <p><a href="{% url 'pages:contact-us' %}">Contact Us</a></p>
  </div>
{% endblock %}