{% extends "_base.html" %}

{% block title %}Anagram Hunt Scores{% endblock %}
{% block page_name %}Anagram Hunt Scores{% endblock %}
{% block main %}
  
  <div class="container" style="max-width:40rem">
    <h2>Top Scores 
        <span style="font-size:1.3rem;font-weight:normal;">(My Scores)</span>
        <span style="font-size:1.3rem;font-weight:normal;float:right;">
        <a href="{% url 'games:anagram-hunt-scores' %}">All Users</a></span></h2>
    {% if scores %}
  <table class=" table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Score</th>
        <th scope="col">User</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody>
    {% for score in scores  %}
    
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ score.score }}</td>
        <td>{{ score.user }}</td><!-- consider using combo of firstname and lastname instead -->
        <td>{{ score.created }}</td>
      </tr>
    
    {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>Scores not found.</p>
  {% endif %}
  </div>
{% endblock %}